
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
}

.header {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 0 auto;
    max-width: 1150px;
    padding: 6px 30px;
}
