
.header__logo {
    display: flex;
    align-items: center;
}

.logo__image {
    /* content: url('../figs/binplogo0.svg'); */
    height: 70px;
    margin-right: 5px;
}

.logo__title {
    font: 1.9rem sans-serif;
    margin: 0;
}
