
.menu__link--home {
    min-width: 95px;
}

.menu__link--home::before {
    content: var(--home-icon);
    margin-right: 3px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    list-style: none;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.menu__link {
    color: var(--basic-dark);
    text-decoration: none;
    font: 1.4rem sans-serif;
    letter-spacing: 0.02em;
    margin: 0 10px;
}

.menu__link--current {
    font-weight: bold;
}

.menu__link:hover {
    color: var(--basic-neutral);
}

@media (min-width: 900px) {
    .menu__button {display: none;}
}

@media (max-width: 899px) {
    .menu__button {
        width: 46px;
        height: 46px;
        padding: 5px;
    }
    
    .menu__button__icon {
        width: 32px;
        height: 32px;
        background-image: var(--menu-icon);
    }

    .menu__button.expanded .menu__button__icon {
        background-position: 32px 0;
    }

    .menu__list {display: none;}

    .menu--open .menu__list {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        width: 250px;
        top: 72px;
        height: 120px;
        background-color: beige;
    }

    .menu--open .menu__list.logins {
        border-top: 1px solid;
        padding-top: 10px;
        top: 192px;
        height: 80px;
    }

    .menu {
        justify-content: flex-end;
        align-items: center;
        padding: 0;
    }
}
