
/* Footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 20px auto 10px;
    padding: 5px 20px;
    border-top: 1px solid #afafaf;
    box-sizing: border-box;
    align-self: baseline;
    font-size: 1.1rem;
}

.contacts {
    min-width: 105px;
}

.email {
    text-decoration: none;
    color: var(--special-extra-dark)
}

.email::before {
    content: "\1F4E8";
    margin-right: 3px;
}

.copyright {
    min-width: 100px;
}

.copyright::before {
    content: "\A9";
    margin-right: 3px;
}

.eu__ref {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
}

.eu__ref__img {
    width: 100px;
    min-width: 40px;
    height: auto;
    display: inline;
    margin: 0 10px;
}

.eu__ref__img img {
    width: 100%;
}

.eu__ga {
    margin: 0;
    display: inline;
    line-height: 1.2em;
    font-size: 0.9em;
}