.hdr {
    letter-spacing: 0.01em;
    margin: 20px 0;
    padding: 0;
    color: var(--special-extra-dark);
    text-shadow: 1px 1px 2px var(--basic-neutral);
    caret-color: transparent;
}

.hdr1 {font: 2.5rem sans-serif;}
.hdr2 {font: 2.0rem sans-serif;}
