:root {
    --home-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 35' width='22px' height='20px'><path style='fill:%23999999;fill-opacity:1;stroke:none;' d='m 21.61,34.78 v -10.554986 l -7.946945,-0.02837 v 10.583333 h -10.602233 v -14.58 l 14.557145,-13.3 14.52,13.3 v 14.58 l -10.55,0 z'/><path style='fill:%23999999;fill-opacity:1;stroke:none;' d='m 35.1,20.22 2.38,-0.18 -5.29,-5.13 V 0.385 h -5.29 v 9.66 l -9.26,-8.36 -19.84,18.315 2.41,0.22 17.43,-15.9 z'/></svg>");

    --basic-black: #000000;
    --basic-dark: #273238;
    --basic-semi-light: #696969;
    --basic-neutral: #b1b3b6;
    --basic-light: #e9eaeb;
    --basic-white: #ffffff;

    --special-extra-dark: #316491;
    --special-dark: #0d0d0e;
    --special-dark-10a: rgba(59, 132, 187, 0.1);
    --special-dark-30a: rgba(59, 132, 187, 0.3);
    --special-dark-60a: rgba(59, 132, 187, 0.6);
    --special-semi-dark: #42a0da;
    --special-neutral: #61afb4;
    --special-neutral2: #92d6db;
    --special-semi-light: #81c36d;
    --special-light: #455f0d;
    --special-extra-light: #c6f523;
    
    /* https://hookagency.com/website-color-schemes/ */
    --red-highlight: #b73225;
    --blue-minded: #004e7c;
    --light-blue-minded: #68afd8;
    --maroon-6: #591c0b;
    --grey-water: #5c5f58;
    --lighter-grey: #dce1e3;
}

/* Header */

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 -18px;
    background-color: beige;
    min-width: 420px;
}

.header__menu {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 0 auto;
    max-width: 1150px;
    padding: 6px 30px;
}

/* Logo */

.header__logo {
    display: flex;
    align-items: center;
}

.logo__image {
    width: 60px;
    max-height: 60px;
    margin-right: 5px;
}

.logo__title {
    font: 1.9rem sans-serif;
    margin: 0;
}

/* Menu */

.menu__link--home::before {
    content: var(--home-icon);
    margin-right: 3px;
}

.menu__list {
    display: flex;
    list-style: none;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.menu__link {
    color: var(--special-dark);
    text-decoration: none;
    font: 1.4rem sans-serif;
    letter-spacing: 0.02em;
    margin: 0 10px;
}

.menu__link--inactive {
    color: var(--basic-neutral);
    cursor: default;
}

.menu__link--current {font-weight: bold;}
.menu__link:hover {color: var(--basic-neutral);}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 930px) {
    .menu__button {display: none;}
}

@media (max-width: 929px) {
    .menu__button {
        width: 46px;
        height: 46px;
        padding: 6px;
        border-width: 1px;
        border-radius: 3px;
        align-self: flex-end;
    }

    .menu__icon {display: none;}

    .menu__button__icon {
        width: 32px;
        height: 32px;
    }

    .menu__button__lines,
    .menu__button__cross {
        stroke: var(--basic-dark);
        stroke-width: 3;
        stroke-linecap: round;
    }

    .menu__item, .menu__link {
        display: inline-block;
        width: 100%;
    }

    .menu__link {
        margin: 3px 0;
        padding: 0 10px;
        box-sizing: border-box;
        min-width: 200px;
    }

    .menu__button:hover {cursor: pointer;}

    .menu__button__icon:hover .menu__button__lines,
    .menu__button__icon:hover .menu__button__cross {
        stroke: var(--special-neutral);
    }

    .menu__button__cross:hover {stroke: var(--special-neutral);}
    
    .menu__button__lines,
    .menu__button.expanded .menu__button__cross {
        display: block;
    }

    .menu__button__cross,
    .menu__button.expanded .menu__button__lines {
        display: none;
    }

    .menu__list {
        display: none;
        box-shadow: 2px 2px 2px var(--special-dark);
    }

    .menu--open .menu__list {
        display: flex;
        /*position: absolute;*/
        flex-direction: column;
        justify-content: space-around;
        /*width: 250px;*/
/*        top: 72px;
        height: 120px;*/
        background-color: beige;
        z-index: 2;
    }

    .menu--open .menu__list.logins {
        border-top: 1px solid;
        padding-top: 10px;
/*        top: 192px;
        height: 80px;*/
    }

    .menu {
        position: absolute;
        top: 10px;
        right: 10px;
/*        justify-content: flex-end;*/
        flex-direction: column;
/*        align-items: center;*/
        padding: 0;
        align-items: stretch;
    }
}
