@import 'menu.css';

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    min-height: 100vh;
}

main {
   padding: 0 10px; 
   margin: 0 auto;
   max-width: 1150px;
   width: 100%;
}

/* Jumbotron */

.jumbotron {
    background: linear-gradient(225deg, rgba(172,255,250,1) 0%, rgba(255,215,164,1) 50%, rgba(170,213,255,1) 100%);
    min-width: 420px;
    /* margin: 0 auto; */
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
}

.title {
    font: 3.5rem sans-serif;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 0;
    color: var(--special-extra-dark);
    text-shadow: 2px 2px 2px var(--basic-neutral);
    caret-color: transparent;
}

.subtitle {
    font: 1.5rem sans-serif;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    padding-left: 1.4em;
    color: var(--basic-dark);
    caret-color: transparent;
}

.cdr__links {
    display: grid;
    grid-gap: 6px;
    grid-template: "title title" "vol1 vol2";
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    padding: 8px;
    border: 1px solid;
    border-radius: 8px;
}

.cdr__title {
    grid-area: title;
    margin: 0 auto;
    color: var(--basic-dark);
    font-size: 1.2em;
}

.cdr__link {
    text-decoration: none;
    color: var(--special-extra-dark);
    font-size: 1.1em;
    margin: 0 4px;
}

.cdr-link1 {grid-area: vol1;}
.cdr-link1 {grid-area: vol2;}

/* Sections */

.sections__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    /* max-width: 1150px; */
    min-width: 320px;
    margin: 16px auto;
}

@media (min-width: 950px) {
    .jumbotron {
        padding: 100px 120px;
        /* max-width: 1150px; */
    }

    .sections__container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 950px) {
    .jumbotron {
        padding: 80px;
    }
    .sections__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .jumbotron {
        padding: 40px 40px 80px;
    }
    .sections__container {
        grid-template-columns: 1fr;
    }
}

.btn-grad {background-image: linear-gradient(to right, #f9ffc5 0%, #d4f3f1  51%, #d2fff4  100%)}
.btn-grad {
    caret-color: transparent;
    padding: 25px 45px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    background-size: 200% auto;
    color: var(--special-dark);
    box-shadow: 0 0 6px var(--special-dark);
    border-radius: 10px;
    cursor: pointer;
    font: 1.3rem sans-serif;
    letter-spacing: 0.03em;
    border: none;
}

.btn-grad:hover,
.btn-grad:focus {
  background-position: right center;
  color: var(--special-light);
}

.btn-grad:active {
   box-shadow: 0 0 2px var(--special-dark);
}

.btn-grad::first-letter {
    color: var(--special-extra-dark);
    font-weight: bold;
    font-size: larger;
}

/* Footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 20px auto 10px;
    padding: 5px 20px;
    border-top: 1px solid;
    box-sizing: border-box;
    align-self: baseline;
}

.address {
    margin: 0;
    padding: 0;
}

.email {
    text-decoration: none;
    color: var(--special-extra-dark)
}

.email::before {
    content: "\1F4E8";
    margin-right: 3px;
}
