:root {
    --home-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 35' width='22px' height='20px'><path style='fill:%23999999;fill-opacity:1;stroke:none;' d='m 21.61,34.78 v -10.554986 l -7.946945,-0.02837 v 10.583333 h -10.602233 v -14.58 l 14.557145,-13.3 14.52,13.3 v 14.58 l -10.55,0 z'/><path style='fill:%23999999;fill-opacity:1;stroke:none;' d='m 35.1,20.22 2.38,-0.18 -5.29,-5.13 V 0.385 h -5.29 v 9.66 l -9.26,-8.36 -19.84,18.315 2.41,0.22 17.43,-15.9 z'/></svg>");

    --basic-black: #000000;
    --basic-dark: #273238;
    --basic-semi-light: #696969;
    --basic-neutral: #b1b3b6;
    --basic-light: #e9eaeb;
    --basic-white: #ffffff;

    --special-extra-dark: #316491;
    --special-dark: #0d0d0e;
    --special-dark-10a: rgba(59, 132, 187, 0.1);
    --special-dark-30a: rgba(59, 132, 187, 0.3);
    --special-dark-60a: rgba(59, 132, 187, 0.6);
    --special-semi-dark: #42a0da;
    --special-neutral: #61afb4;
    --special-neutral2: #92d6db;
    --special-semi-light: #81c36d;
    --special-light: #455f0d;
    --special-extra-light: #c6f523;
    
    --red-highlight: #b73225;
    --blue-minded: #004e7c;
    --light-blue-minded: #68afd8;
    --maroon-6: #591c0b;
    --grey-water: #5c5f58;
    --lighter-grey: #dce1e3;

    --btn-background-color: #17a2b8;
    --btn-hover-background-color: #117888;
}

/* Header */

html {
    padding-left: calc(100vw - 100%);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    min-height: 100vh;
    font-size: 1.4rem;
    padding: 0 18px;
    margin: 0;
    letter-spacing: 0.01em;
}

header {
    margin: 0 -18px 0 -36px;
    background-color: #e9eaeb;
    min-width: 420px;
}

.header__menu {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 0 auto;
    max-width: 1150px;
    padding: 6px 30px;
}

main {
   max-width: 1150px;
   margin: 0 auto;
   width: 100%;
}

.intro {
    width: 85%;
    margin: 40px auto;
    text-align: center;
}

@font-face {
    font-family: Petrona;
    src: url("../fonts/Petrona/Petrona-VariableFont_wght.ttf");
}

@font-face {
    font-family: Crimson Pro;
    src: url("../fonts/Crimson_Pro/CrimsonPro-Light.ttf")
}

p, ul, ol {
   margin: 16px 0;
   line-height: 1.4em;
   letter-spacing: 0.02rem;
   font-family: "Crimson Pro", serif;
}

/* Jumbotron */

.jumbotron {
    background: #e9eaeb;
    min-width: 420px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
}

.title {
    font: 3.5rem sans-serif;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 0;
    color: var(--special-extra-dark);
    caret-color: transparent;
}

.subtitle {
    font: 1.5rem sans-serif;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    padding-left: 1.4em;
    color: var(--basic-dark);
    caret-color: transparent;
}

.cdr__links {
    display: grid;
    grid-gap: 6px;
    grid-template: "title title" "vol1 vol2";
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    padding: 8px;
    border: 1px solid;
    border-radius: 8px;
}

.cdr__title {
    grid-area: title;
    margin: 0 auto;
    color: var(--basic-dark);
    font-size: 1.2rem;
}

.cdr__link {
    text-decoration: none;
    color: var(--special-extra-dark);
    font-size: 1.1rem;
    margin: 0 4px;
}

.cdr-link1 {grid-area: vol1;}
.cdr-link1 {grid-area: vol2;}

/* Logo */

.header__logo {
    display: flex;
    align-items: center;
}

.logo__image {
    width: 60px;
    max-height: 60px;
    margin-right: 5px;
}

.logo__title {
    font: 1.9rem sans-serif;
    margin: 0;
}

/* Menu */

.menu__link--home::before {
    content: var(--home-icon);
    margin-right: 3px;
}

.menu__link--home:hover:before {
    filter: opacity(0.6);
}

.menu__list {
    display: flex;
    list-style: none;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.menu__link, .menu__user {
    color: var(--special-dark);
    text-decoration: none;
    font: 1.4rem sans-serif;
    letter-spacing: 0.02em;
    margin: 0 10px;
}

.menu__user {
    color: var(--special-extra-dark);
}

.menu__link--inactive {
    color: var(--basic-neutral);
    cursor: default;
}

.menu__link--current {font-weight: bold;}
.menu__link:hover {color: var(--basic-neutral);}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 930px) {
    .menu__button {display: none;}
}

@media (max-width: 929px) {
    .menu__button {
        width: 46px;
        height: 46px;
        padding: 6px;
        border-width: 1px;
        border-radius: 3px;
        align-self: flex-end;
    }

    .menu__icon {display: none;}

    .menu__button__icon {
        width: 32px;
        height: 32px;
    }

    .menu__button__lines,
    .menu__button__cross {
        stroke: var(--basic-dark);
        stroke-width: 3;
        stroke-linecap: round;
    }

    .menu__button:hover {cursor: pointer;}

    .menu__button__icon:hover .menu__button__lines,
    .menu__button__icon:hover .menu__button__cross {
        stroke: var(--special-neutral);
    }

    .menu__button__cross:hover {stroke: var(--special-neutral);}
    
    .menu__button__lines,
    .menu__button.expanded .menu__button__cross {
        display: block;
    }

    .menu__button__cross,
    .menu__button.expanded .menu__button__lines {
        display: none;
    }

    .menu__list {display: none;}

    .menu__item, .menu__link {
        display: inline-block;
        width: 200px;
    }

    .menu__link {
        margin: 3px 0;
        padding: 0 10px;
        box-sizing: border-box;
    }
    
    .menu--open .menu__list {
        display: flex;
        flex-direction: column;
        box-shadow: 0 2px 3px var(--special-dark);
        background-color: #e9eaeb;
        z-index: 2;
    }

    .menu--open .menu__list.logins {
        border-top: 1px solid;
        padding-top: 10px;
    }

    .menu {
        position: absolute;
        top: 10px;
        right: 10px;
        flex-direction: column;
    }
}

/* Headers */

.hdr {
    letter-spacing: 0.01em;
    margin: 20px 0;
    padding: 0;
    color: var(--special-extra-dark);
    caret-color: transparent;
}

.hdr1 {font: 2.5rem sans-serif;}
.hdr2 {font: 2.0rem sans-serif;}
.hdr3 {font: 1.5rem sans-serif;}

/* Tables */

.sct__table {
    width: 90%;
    min-width: 700px;
    margin: 10px auto;
    border-collapse: collapse;
    border: 2px solid var(--special-dark-60a);
}

td {padding: 4px;}
th {padding: 10px;}

.sct__thead {
    border-bottom: 1px solid var(--special-dark-60a);
    font-family: sans-serif;
    font-size: 0.9em;
    transition: 0.2s;
    background-color: var(--basic-light);
    color: var(--special-extra-dark);
}

.sct__trow {
    border-top: 1px solid var(--special-dark-30a);
    font-family: "Crimson Pro", serif;
    transition: 0.2s;
}

.sct__trow:hover {
    background-color: var(--special-neutral2);
}

.sct__trow td:nth-child(1) {
    text-align: left;
}

/* Footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 20px auto 10px;
    padding: 5px 20px;
    border-top: 1px solid #afafaf;
    box-sizing: border-box;
    align-self: baseline;
    font-size: 1.1rem;
}

.contacts {
    min-width: 105px;
}

.email {
    text-decoration: none;
    color: var(--special-extra-dark)
}

.email::before {
    content: "\1F4E8";
    margin-right: 3px;
}

.copyright {
    min-width: 100px;
}

.copyright::before {
    content: "\A9";
    margin-right: 3px;
}

.eu__ref {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
}

.eu__ref__img {
    width: 80px;
    min-width: 40px;
    display: inline;
    margin: 0 10px;
}

.eu__ref__img img {
    width: 100%;
}

.eu__ga {
    margin: 0;
    display: inline;
    line-height: 1.2em;
    font-size: 0.9em;
}

/* Software scheme */

.sw__scheme {
    display: grid;
    grid-template-columns: repeat(2, 4fr 1fr) 4fr;
    grid-template-rows: repeat(3, 3em 2.5em) 3em;
    grid-gap: 2px;
    margin: 20px auto;
    max-width: 800px;
    background: var(--special-dark-10a);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--special-dark);
}

.scheme__box {
    border: 1px solid var(--special-extra-dark);
    border-radius: 0 15px 0 15px;
    min-width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 3px var(--special-dark);
    background: var(--special-neutral);
}

.scheme__box:hover {
    background: var(--special-semi-light);
}

.scheme__box p {
    margin: 0;
    padding: 0 5px;
}

.scheme_arrow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
}

.scheme_arrow_rt,
.scheme_arrow_lt,
.scheme_arrow_bt,
.scheme_arrow_up {
    content: url('../figs/vector/arrow2.1.svg');
    width: 0.7em;
}

.scheme_arrow_rt {transform: rotate(90deg);}
.scheme_arrow_lt {transform: rotate(-90deg);}
.scheme_arrow_bt {transform: rotate(180deg);}

/* Sections */

.sections__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    min-width: 320px;
    margin: 16px auto;
}

@media (min-width: 950px) {
    .jumbotron {
        padding: 100px 120px;
    }

    .sections__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .jumbotron {
        padding: 80px;
    }
    .sections__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .jumbotron {
        padding: 40px 40px 80px;
    }
    .sections__container {
        grid-template-columns: 1fr;
    }
}

.btn-grad {
    background: var(--btn-background-color);
    caret-color: transparent;
    padding: 25px 45px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    border-radius: 6px;
    cursor: pointer;
    font: 1.3rem sans-serif;
    letter-spacing: 0.03em;
    border: none;
    transition: 0.15s;
    display: grid;
    align-items: center;
}

.btn-grad.btn-grad__inactive {
    background: var(--basic-neutral);
    box-shadow: none;
    cursor: default;
}

.btn-grad:hover:not(.btn-grad__inactive),
.btn-grad:focus:not(.btn-grad__inactive) {
    background: var(--btn-hover-background-color);
}

.btn-grad:active {
   box-shadow: 0 0 2px var(--special-dark);
}

.grid__10px {
    padding: 0;
    display: grid;
    grid-gap: 10px;
    list-style: none;
    align-content: center;
    justify-content: center;
}

.grid__col2 {grid-template-columns: repeat(2, 1fr);}
.grid__col3 {grid-template-columns: repeat(3, 1fr);}
.grid__col4 {grid-template-columns: repeat(4, 1fr);}

/* Text decoration */

.overline {
    text-decoration: overline;
}

.package_name {
    font-family: monospace;
}

.experiment_name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-center {
    text-align: center;
}

/* Cremlinplus header */

.cplus-hdr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -20px;
}

@media (max-width: 650px) {
    .cplus-hdr {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.cplus__logo {
    width: 330px;
    box-shadow: 0px 0px 3px var(--blue-minded);
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.cplus__logo__img {width: 100%;}

/* Accordion */

.btn__acc {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 0.8em;
    letter-spacing: 0.02rem;
}

.btn__acc::before {
    content: '\002b';
    color: var(--blue-minded);
    margin-right: 5px;
    font-weight: bold;
}

.btn__acc.active::before {
    content: '\2212';
}

.active, .btn__acc:hover {
    background-color: var(--special-neutral2);
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}


/* Cards */

.cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    min-width: 460px;
}

.card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--special-extra-dark);
    padding: 5px;
    justify-content: start;
    align-items: center;
    margin: 3px;
    transition: 0.2s;
}

.card__210px {width: 210px;}
.card__330px {width: 330px;}

.card:hover {
    box-shadow: inset 0px 0px 5px var(--special-semi-dark);
}

.card__image__container {
    max-width: 90%;
    height: 150px;
}

.card__image {
    max-width: 100%;
    height: 100%;
}

.card__title {
    text-align: center;
}

.card__text__4em {
    text-align: center;
    height: 4em;
}

#jlulogo {
    height: auto;
    margin-top: 75px;
    transform: translateY(-50%);
}

.hdr.card__title {
    text-shadow: none;
}

/* Images */
.sct__figure {
    text-align: center;
    border: 1px solid var(--special-extra-dark);
    border-radius: 10px;
    padding: 2px;
    box-shadow: 2px 2px 2px var(--basic-neutral);
    margin: 0;
}

.figcaption {
    font-size: 1.2rem;
    margin: 8px;
}

.rfloat__50 {
    position: relative;
    width: 50%;
    float: right;
    margin: 0 3px 3px 8px;
}

.sct__image {
    max-width: 97%;
    max-height: 80vh;
}

.scale__wrapper {
    position: relative;
}

#detector_scale_body {
    position: absolute;
    height: 25%;
    bottom: 3%;
    left: 10%;
}

.modal__figure {
    cursor: pointer;
}

/* Modal figures */
.modal__figure.active {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    margin: 0;
    animation: modal__image__animation 0.4s ease;
}

.noscroll {
    overflow: hidden;
}

.modal__figure.active .modal__content {
    position: relative;
    background-color: #fefefe;
    float: none;
    margin: 5% auto 0;
    padding: 20px;
    border: 1px solid #888;
    width: max-content;
    max-height: 80%;
}

@keyframes modal__image__animation {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* SCT working groups */

.wg__card {
    display: grid;
    grid-template-rows: 1.5fr 1.2fr;
    border: 1px solid #004e7c;
    border-radius: 6px;
    align-items: center;
    justify-items: center;
    padding: 3px;
}

.wg__title {
    margin-bottom: 2px;
}

.wg__coord {
    text-align: center;
    margin-bottom: 6px;
}

/* SCT email lists */

.email_list__card {
    display: grid;
    grid-template-rows: 1.2fr 1fr 1fr;
    border: 1px solid var(--blue-minded);
    border-radius: 6px;
    align-items: center;
    justify-items: center;
    padding: 3px;
}

.btn__subscribe {
    border-radius: 6px;
    text-decoration: none;
    padding: 3px 9px;
    margin: 6px 0;
    background: var(--btn-background-color);
    transition: 0.15s;
    color: var(--basic-white);
}

.btn__subscribe:hover {
    background: var(--btn-hover-background-color);
}