/* Table */

.sct__table {
    width: 90%;
    min-width: 700px;
    margin: 10px auto;
    border-collapse: collapse;
    border: 2px solid var(--special-dark-60a);
}

td {padding: 4px;}
th {padding: 10px;}

/* Table borders */

.sct__thead {
    border-bottom: 1px solid var(--special-dark-60a);
    font-family: sans-serif;
    font-size: 0.9em;
    transition: 0.2s;
    background-color: var(--basic-light);
    color: var(--special-extra-dark);
}

.sct__trow {
    border-top: 1px solid var(--special-dark-30a);
    font-family: "Crimson Pro", serif;
    transition: 0.2s;
}

.sct__trow:hover {
    background-color: var(--special-neutral2);
}

.sct__trow td:nth-child(1) {
    text-align: left;
}
